@media screen and (max-width: 640px) {
  .text {
    transform: rotate(0deg) scale(0.5);
    top: 0px;
    left: -75px;
  }

  .distortion {
    transform: scale(0.5);
    transform-origin: bottom right;
    right: 20%;
    bottom: 0;
  }

  .sponsor {
    right: -40px;
    bottom: 0px;
    transform: scale(0.7);
  }

  .media ul {
    bottom: 170px;
    left: -170px;
  }

  .navbar div {
    padding: 0 10px;
  }

  .overlay {
    transform: rotate(-90deg);
  }
}
